<!-- Banner -->

<div class="home-banner-wrapper">
  <div class="home-banner-text">
    <h3>Protectoris, l'alarme sans fil à installer soi-même</h3>
    <p>Notre système a été conçu par une équipe d'experts en matériel de sécurité depuis 1992.</p>
  </div>
</div>

<!-- Features -->

<div class="home-features-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="home-feature text-center">
          <div class="feature-icon">
            <%= image_tag ("icon-installation.png"), class: "medium-icon" %>
          </div>
          <div class="feature-title">
            <h4>INSTALLATION SIMPLE</h4>
          </div>
          <div class="feature-description">
            <p>Grâce à la connexion au réseau Wifi et l'app mobile, le paramétrage est rapide, simple et intuitif.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="home-feature text-center">
          <div class="feature-icon">
            <%= image_tag ("icon-detection.png"), class: "medium-icon" %>
          </div>
          <div class="feature-title">
            <h4>DETECTION PRECISE</h4>
          </div>
          <div class="feature-description">
            <p>Avec un paramétrage précis, Protectoris permet une détection possible à l'extérieur avant l'intrusion.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="home-feature text-center">
          <div class="feature-icon">
            <%= image_tag ("icon-network.png"), class: "medium-icon" %>
          </div>
          <div class="feature-title">
            <h4>COMPATIBILITE MULTIMARQUE</h4>
          </div>
          <div class="feature-description">
            <p>Notre système est compatible avec la plupart des volets sans fil du marché comme Somfy (Tahoma) et Bubendorff.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="home-feature text-center">
          <div class="feature-icon">
            <%= image_tag ("icon-privacy.png"), class: "medium-icon" %>
          </div>
          <div class="feature-title">
            <h4>VIE PRIVEE RESERVEE</h4>
          </div>
          <div class="feature-description">
            <p>Le système ne dispose pas de capteur caméra. L'ajout d'une caméra est optionnel dans notre pack.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="home-feature text-center">
          <div class="feature-icon">
            <%= image_tag ("icon-commandes.png"), class: "medium-icon" %>
          </div>
          <div class="feature-title">
            <h4>COMMANDES MULTICANALES</h4>
          </div>
          <div class="feature-description">
            <p>Votre alarme est contrôlable avec un clavier, votre badge, votre télécommande ou à distance avec votre téléphone.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="home-feature text-center">
          <div class="feature-icon">
            <%= image_tag ("icon-security.png"), class: "medium-icon" %>
          </div>
          <div class="feature-title">
            <h4>TRIPLE SECURITE</h4>
          </div>
          <div class="feature-description">
            <p>Protectoris offre une triple sécurité d'alerte au propriétaire: appel vocal, SMS et notifications (push).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pack -->

<div class="pack-wrapper text-center">
  <div class="pack-text text-center">
    <h2>DE QUOI SE COMPOSENT NOS PACKS ?</h2>
    <p>Nos packs ont été préconçus en fonction de vos retours: Pack Appartement, Pack Maison. Aucun de ces packs ne vous convient ? Aucun problème ! Nos packs sont entièrement personnalisables. </p>
    <p>L'équipe Protectoris reste à votre service et à votre écoute. Notre personnel technique basé à Paris vous assistera gratuitement par téléphone. Notre matériel est garanti 10 ans. </p>
    <%= link_to "VOIR NOS PACKS", root_path, class: "call-to-action-button"  %>
  </div>
</div>

<hr>

<!-- Produit -->

<div class="product-wrapper">
  <div class="centrale-container">
    <div class="centrale-text">
      <h2>UNE CENTRALE ROBUSTE</h2>
      <p>Le boîtier de Protectoris et ses éléments sont renforcés pour résister aux chocs et aux vandalismes. Si un élément est saboté, vous serez immédiatement alerté par SMS. Grâce aux antennes détachables, la centrale d'alarme Protectoris peut être blindée ou être installée dans un coffre.</p>
      <%= link_to root_path, class: "voir-plus-link" do %>
        <i class="fas fa-caret-right"></i> Spécificités techniques
      <% end %>
      <%= link_to root_path, class: "voir-plus-link" do %>
        <i class="fas fa-caret-right"></i> Guide d'installation
      <% end %>
    </div>
  </div>

  <div class="detecteur-container">
    <div class="detecteur-text">
      <h2>UN LARGE CHOIX DE DETECTEURS</h2>
      <p>Des détecteurs efficaces et professionnels pour détecter les intrus dès l’extérieur. Les détecteurs d’incendie et spécifiques (inondation, température, etc.) complètent la gamme des détecteurs d’intrusion pour l’intérieur.</p>
      <%= link_to root_path, class: "voir-plus-link" do %>
        <i class="fas fa-caret-right"></i> Gamme de détecteurs
      <% end %>
    </div>
  </div>
</div>

