<!-- 1. Banner -->

<div class="home-banner-wrapper">
  <div class="home-banner-rectangle">
    <div class="home-banner-text">
      <h3>Protectoris, l'alarme sans fil à installer soi-même</h3>
      <p>Conçu en France par une équipe d'experts en matériel de sécurité depuis 1992, Protectoris est le meilleur système d'alarme alliant Qualité, Prix et Performance.</p>
    </div>
  </div>
  <div class="home-banner-scroll">
    <h6>Découvrez notre nouvelle gamme</h6>
    <%= image_tag ("arrow-down-icon.png"), class: "scroll-icon", id: "click-item" %>
  </div>
</div>

<!-- 1(bis). Mobile Banner -->

<div class="home-banner-scroll-mobile">
  <h6>Découvrez notre nouvelle gamme</h6>
  <%= image_tag ("arrow-down-icon-darkblue.png"), class: "scroll-icon", id: "click-item" %>
</div>

<!-- 2. Features -->

<div class="home-features-wrapper scroll-anchor">
  <div class="container">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-feature text-center">
        <div class="feature-icon">
          <%= image_tag ("icon-installation.png"), class: "medium-icon" %>
        </div>
        <div class="feature-title">
          <h4>INSTALLATION SIMPLE</h4>
        </div>
        <div class="feature-description">
          <p>Le matériel est préparé avant l’expédition et sera prêt à être utilisé. La personnalisation est intuitive et se fait par clavier intégré ou par l’application mobile.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-feature text-center">
        <div class="feature-icon">
          <%= image_tag ("icon-detection.png"), class: "medium-icon" %>
        </div>
        <div class="feature-title">
          <h4>PROTECTION EXTERIEURE</h4>
        </div>
        <div class="feature-description">
          <p>Nous mettons à votre disposition des détecteurs sans fil haut de gamme pour jardin, balcon et clôture permettant la détection d’une intrusion à l’approche de la maison.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-feature text-center">
        <div class="feature-icon">
          <%= image_tag ("icon-network.png"), class: "medium-icon" %>
        </div>
        <div class="feature-title">
          <h4>PILOTAGE VOLETS & LUMIÈRES</h4>
        </div>
        <div class="feature-description">
          <p>Notre système permet la femeture des volets (Somfy RTS, IO, Tahoma et Bubendorff) dès la détection d'une intrusion à l'extérieur ainsi que le pilotage et la simulation de présence par contact 220V sans fil.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-feature text-center">
        <div class="feature-icon">
          <%= image_tag ("icon-privacy.png"), class: "medium-icon" %>
        </div>
        <div class="feature-title">
          <h4>VIE PRIVEE PRESERVEE</h4>
        </div>
        <div class="feature-description">
          <p>Le système ne dispose pas de capteur type caméra car la technique de détection par image vous expose à un piratage. L'ajout d'une caméra est toutefois disponible en fonction de vos besoins.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-feature text-center">
        <div class="feature-icon">
          <%= image_tag ("icon-commandes.png"), class: "medium-icon" %>
        </div>
        <div class="feature-title">
          <h4>COMMANDES MULTICANALES</h4>
        </div>
        <div class="feature-description">
          <p>Votre alarme se contrôle avec le clavier, le badge, la télécommande ou à distance avec votre téléphone (Internet 3G, 4G et SMS).</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="home-feature text-center">
        <div class="feature-icon">
          <%= image_tag ("icon-security.png"), class: "medium-icon" %>
        </div>
        <div class="feature-title">
          <h4>TRIPLE SECURITE</h4>
        </div>
        <div class="feature-description">
          <p>Protectoris offre une triple sécurité d'alerte au propriétaire: appel vocal, SMS et notifications (push).</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- 3. Pack Intro -->

<!-- <div class="pack-wrapper text-center">
  <div class="pack-text text-center">
    <h2>DE QUOI SE COMPOSENT NOS PACKS ?</h2>
    <p>Nos packs ont été préconçus en fonction de vos retours: Pack Appartement, Pack Maison. Aucun de ces packs ne vous convient ? Aucun problème ! Nos packs sont entièrement personnalisables. </p>
    <p>L'équipe Protectoris reste à votre service et à votre écoute. Notre personnel technique basé à Paris vous assistera gratuitement par téléphone. Notre matériel est garanti 2 ans. </p>
    <%#= link_to "VOIR NOS PACKS", offer_path, class: "call-to-action-button"  %>
  </div>
</div>

<div class="pack-mobile">

  <div class="pack-text-mobile text-center">
    <h2>DE QUOI SE COMPOSENT NOS PACKS ?</h2>
    <div class="pack-wrapper-mobile text-center">
    </div>
    <p>Nos packs ont été préconçus en fonction de vos retours: Pack Appartement, Pack Maison. Aucun de ces packs ne vous convient ? Aucun problème ! Nos packs sont entièrement personnalisables. </p>
    <p>L'équipe Protectoris reste à votre service et à votre écoute. Notre personnel technique basé à Paris vous assistera gratuitement par téléphone. Notre matériel est garanti 2 ans. </p>
    <%#= link_to "VOIR NOS PACKS", offer_path, class: "call-to-action-button-mobile"  %>
  </div>
</div> -->


<!-- 4. Produit -->

<div class="product-wrapper">

  <div class="centrale-container">
    <div class="centrale-text">
      <h2>UNE CENTRALE COMPACTE</h2>
      <p>Le lecteur de badge intégré rend l’utilisation du système simple pour les enfants et les personne âgées. Le clavier tactile permet la mise en marche ou l'arret de l’alarme avec un code secret. L'affichage de l'écran en couleur avec son menu simplifié facilite le paramétrage de l'appareil. Une sirène 108dB, un support pour carte SIM et une antenne Wifi y sont également intégrés.</p>
      <%= link_to offer_path(anchor: "centrale"), class: "voir-plus-link" do %>
        <i class="fas fa-caret-right"></i> Spécificités
      <% end %>
    </div>
    <div class="centrale-home"></div>
  </div>

  <div class="mobile">
    <div class="centrale-text-mobile">
      <h2>UNE CENTRALE COMPACTE</h2>
    </div>
    <div class="centrale-container-mobile"></div>
    <p>Le lecteur de badge intégré rend l’utilisation du système simple pour les enfants et les personne âgées. Le clavier tactile permet la mise en marche ou l'arret de l’alarme avec un code secret. L'affichage de l'écran en couleur avec son menu simplifié facilite le paramétrage de l'appareil. Une sirène 108dB, un support pour carte SIM et une antenne Wifi y sont également intégrés.</p>
    <div class="centrale-link-mobile">
      <%= link_to offer_path(anchor: "centrale"), class: "voir-plus-link-mobile" do %>
        <i class="fas fa-caret-right"></i> Spécificités
      <% end %>
    </div>
  </div>

  <div class="detecteur-container">
    <div class="detecteur-text">
      <h2>UN LARGE CHOIX DE DETECTEURS</h2>
      <p>Des détecteurs à microprocesseurs pour l’extérieur complètent la gamme des détecteurs d’intrusion pour l’intérieur.</p>
      <%= link_to offer_path(anchor: "accessories"), class: "voir-plus-link" do %>
        <i class="fas fa-caret-right"></i> Nos détecteurs
      <% end %>
    </div>
  </div>

  <div class="mobile">
    <div class="centrale-text-mobile text-center">
        <h2>UN LARGE CHOIX DE DETECTEURS</h2>
    </div>
    <div class="detecteur-container-mobile">
    </div>
    <p>Des détecteurs à microprocesseurs pour l’extérieur complètent la gamme des détecteurs d’intrusion pour l’intérieur.</p>
    <div class="centrale-link-mobile">
      <%= link_to offer_path(anchor: "accessories"), class: "voir-plus-link-mobile" do %>
        <i class="fas fa-caret-right"></i> Nos détecteurs
      <% end %>
    </div>
  </div>



  <div class="sirene-container">
    <div class="sirene-text">
      <h2>LA DOMOTIQUE SIMPLE</h2>
      <p>Le module Actionneur en option permet de fermer ou ouvrir automatiquement les volets motorisés (Somfy, Bubendorff, etc.) quand l’alarme est déclenchée. Couplé à une Tahoma de Somfy, un scénario peut être lancé. <br>
      L’application sur mobiles permet de piloter jusqu'à 16 lumières ou appareils électriques à travers le récepteur sans fil. Une programmation de simulation de présence est aussi possible.</p>
    </div>
  </div>

  <div class="mobile">
    <div class="centrale-text-mobile text-center">
      <h2>LA DOMOTIQUE SIMPLE</h2>
    </div>
    <div class="domotique-container-mobile"></div>
    <p>Le module Actionneur en option permet de fermer ou ouvrir automatiquement les volets motorisés (Somfy, Bubendorff, etc.) quand l’alarme est déclenchée. Couplé à une Tahoma de Somfy, un scénario peut être lancé. <br>
      L’application sur mobiles permet de piloter jusqu'à 16 lumières ou appareils électriques à travers le récepteur sans fil. Une programmation de simulation de présence est aussi possible.</p>
  </div>


  <div class="mobile-container">
    <div class="mobile-pictures"></div>
    <div class="mobile-text">
      <h2>TOUJOURS DANS VOTRE POCHE</h2>
      <p>A la maison, votre système est contrôlable par les petites badges ou les mini télécommandes. A distance, votre système est contrôlable via l'application mobile. De plus, grâce aux appels vocaux, SMS et notifications push, Protectoris vous alerte à la moindre anomalie.</p>
    </div>
  </div>

  <div class="mobile">
    <div class="centrale-text-mobile text-center">
      <h2>TOUJOURS DANS VOTRE POCHE</h2>
    </div>
    <div class="mobile-container-mobile">
      <div class="row mobile-row-mobile">
        <%= image_tag "Iphone-appel-vocal.png", class: "mobile-items-mobile"%>
        <%= image_tag "Iphone-domotique.png", class: "mobile-items-mobile"%>
      </div>
      <div class="row mobile-row-mobile">
        <%= image_tag "Iphone-parametrage.png", class: "mobile-items-mobile"%>
        <%= image_tag "Iphone-pilotage.png", class: "mobile-items-mobile"%>
      </div>
      <div class="row mobile-row-mobile">
        <%= image_tag "Iphone-push.png", class: "mobile-items-mobile"%>
        <%= image_tag "Iphone-SMS.png", class: "mobile-items-mobile"%>
      </div>
    </div>
    <p>A la maison, votre système est contrôlable par les petites badges ou les mini télécommandes. A distance, votre système est contrôlable via l'application mobile. De plus, grâce aux appels vocaux, SMS et notifications push, Protectoris vous alerte à la moindre anomalie.</p>
  </div>

  <div class="review-banner">
    <div class="container">



    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="review-card">
      <a href="https://www.google.com/search?source=hp&ei=zAM6W96UNYn-UM7shdgP&q=ts3v&oq=ts3v&gs_l=psy-ab.3..0l10.463.1181.0.1268.5.4.0.0.0.0.113.274.2j1.3.0....0...1.1.64.psy-ab..2.3.274.0...0.Zbgb5KCGWuQ#lrd=0x47e671ae7dc881d3:0xf4b472ced63eaf5,1,,," target="_blank">

          <%= image_tag ("ben-avatar.png"), class: "review-avatar" %>
          <h4>Jean-Michel I.</h4>
          <h6>02-01-2018</h6>
          <h5>Je recommande!</h5>
          <p>"Je suis client de la boutique depuis 2008. Excellent accueil, très bonne expertise technique pour les conseils et toujours une grande disponibilité pour l'assistance lorsqu'on peut se trouver en difficulté dans une installation. C'est une entreprise sérieuse que je recommande."</p>
      </a>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="review-card">
      <a href="https://www.pagesjaunes.fr/utilisateur/profil-public/fknV5fl6IMA=" target="_blank">

          <%= image_tag ("man-avatar.png"), class: "review-avatar" %>
          <h4>PJ8IiRUW</h4>
          <h6>17-10-2015</h6>
          <h5>Très satisfait !</h5>
          <p>"Je viens d'opter, sur les conseils de TS3V, pour leur nouvelle solution PROTECTORIS, encore plus optimisée en prix, afin d'équiper ma résidence secondaire. Le rapport qualité-prix est juste excellent et je continue à être très confiant dans les conseils prodigués par l'équipe TS3V."</p>
      </a>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="review-card">
      <a href="https://www.google.fr/search?source=hp&ei=yfRMW_a3J43-apu3lvgL&q=avis+sur+ts3v&oq=avis+sur+ts3v&gs_l=psy-ab.3...1005.6782.0.7365.0.0.0.0.0.0.0.0..0.0....0...1c.1.64.psy-ab..0.0.0....0.QXPS-GUG1AE#lrd=0x47e671ae7dc881d3:0xf4b472ced63eaf5,1,,,&spf=1531770065520" target="_blank">

        <%= image_tag ("young-avatar.png"), class: "review-avatar" %>
        <h4>Jean-Pierre C.</h4>
        <h6>02-01-2018</h6>
        <h5>Top !</h5>
        <p>"J’avais une alarme très chère de même marque que mes volets afin que l’alarme ferme mes volets dès la détection à l’extérieure. J’ai acheté l’année dernière la Protectoris pour ma nouvelle maison avec l’option fermeture volets en cas d’alarme pour mes volets Somfy, les détecteurs extérieurs sont aussi les Optex. Tout marche bien et j’ai économisé 50% du prix."</p>
        </a>
      </div>
    </div>
  </div>

  </div>

  <div class="price-container text-center">
    <h2>NOS PRIX</h2>
    <p>Nos packs standards sont personnalisables. Contactez-nous pour que nous puissions vous aider quand à la personnalisation de votre système.</p>

    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <div class="price-card apartment-card">
          <h4>Packs Appartement</h4>
          <h1><strong>299€</strong> 199€</h1>
          <h3>Prix de lancement!</h3>
          <h5 id="price">
            <br>*pour le pack 2 pièces
          </h5>
        <%= link_to "VOIR", offer_path, class: "call-to-action-button-transparent"  %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="price-card house-card">
          <h4>Packs Maison</h4>
          <h1><strong>448€</strong> 339€</h1>
          <h3>Prix de lancement!</h3>
          <h5 id="price">
            <br>*pour le pack standard Maison
          </h5>
        <%= link_to "VOIR", offer_path, class: "call-to-action-button-transparent"  %>
        </div>
      </div>
    </div>

  </div>
</div>



