<div class="offer-banner text-center">
  <h3>Des packs standards afin de faciliter votre choix.</h3>
  <p>Nous avons pré-conçus 2 Packs Appartement (jusqu'à 2 pièces ou 4 pièces) et 2 Packs Maison (Petite ou Grande) pour mieux répondre à vos besoins. Une large gamme d'accessoires vous sont également mis à votre disposition pour personnaliser votre système de sécurité si nécessaire.</p>
  <%= link_to "VOIR NOS PACKS", offer_path(anchor: "apartement"), class: "call-to-action-button-transparent"  %>
</div>

<div class="flat-offer-1" id="apartement">
  <div class="flat-description">
    <h2>Découvrez notre Pack Appartement (jusqu'à 2 pièces)</h2>
    <h6>Notre pack a été conçu pour des appartements avec au maximum 2 pièces et une seule porte d'entrée: 1 centrale, 1 détecteur de mouvement, 1 détecteur d’ouverture, 2 télécommandes, 2 badges.</h6>
    <%= link_to root_path, class: "offer-link" do %>
      <i class="fas fa-caret-right"></i> Commander dans notre e-boutique
    <% end %>
  </div>
</div>

<div class="mobile-offer">
  <div class="flat-description-mobile">
    <h2>Découvrez notre Pack Appartement (jusqu'à 2 pièces)</h2>
  </div>
  <div class="flat-offer-1-mobile"></div>
  <div class="flat-description-mobile">
    <h6>Notre pack a été conçu pour des appartements avec au maximum 2 pièces et une seule porte d'entrée: 1 centrale, 1 détecteur de mouvement, 1 détecteur d’ouverture, 2 télécommandes, 2 badges.</h6>
  </div>
  <div class="call-to-action text-center">
    <%= link_to root_path, class: "buy-mobile" do %>
      COMMANDER
    <% end %>
  </div>
</div>

<div class="flat-offer-2">
  <div class="home-description">
    <h2>Découvrez notre Pack Appartement (jusqu'à 4 pièces)</h2>
    <h6>Notre pack a été conçu pour des appartements avec au maximum 4 pièces et une seule porte d'entrée: 1 centrale, 2 détecteur de mouvement, 3 détecteur d’ouverture, 3 télécommandes, 2 badges.</h6>
    <%= link_to root_path, class: "offer-link" do %>
      <i class="fas fa-caret-right"></i> Commander dans notre e-boutique
    <% end %>
  </div>
</div>

<div class="mobile-offer">
  <div class="flat-description-mobile">
    <h2>Découvrez notre Pack Appartement (jusqu'à 4 pièces)</h2>
  </div>
  <div class="flat-offer-2-mobile"></div>
  <div class="flat-description-mobile">
    <h6>Notre pack a été conçu pour des appartements avec au maximum 4 pièces et une seule porte d'entrée: 1 centrale, 2 détecteur de mouvement, 3 détecteur d’ouverture, 3 télécommandes, 2 badges.</h6>
  </div>
  <div class="call-to-action text-center">
    <%= link_to root_path, class: "buy-mobile" do %>
      COMMANDER
    <% end %>
  </div>
</div>

<div class="home-offer-1" id="home">
  <div class="flat-description">
    <h2>Découvrez notre Pack Maison (Petite Maison)</h2>
    <h6>Notre pack a été conçu pour des maisons avec une surface de X m2 et une seule porte d'entrée: 1 centrale, 1 détecteur de mouvement, 3 détecteurs d’ouverture, 2 télécommandes, 2 badges, 1 sirène extérieure.</h6>
    <%= link_to root_path, class: "offer-link" do %>
      <i class="fas fa-caret-right"></i> Commander dans notre e-boutique
    <% end %>
  </div>
</div>

<div class="mobile-offer">
  <div class="flat-description-mobile">
    <h2>Découvrez notre Pack Maison (Petite Maison)</h2>
  </div>
  <div class="home-offer-1-mobile"></div>
  <div class="flat-description-mobile">
    <h6>Notre pack a été conçu pour des maisons avec une surface de X m2 et une seule porte d'entrée: 1 centrale, 1 détecteur de mouvement, 3 détecteurs d’ouverture, 2 télécommandes, 2 badges, 1 sirène extérieure.</h6>
  </div>
  <div class="call-to-action text-center">
    <%= link_to root_path, class: "buy-mobile" do %>
      COMMANDER
    <% end %>
  </div>
</div>

<div class="home-offer-2">
  <div class="home-description">
    <h2>Découvrez notre Pack Maison (Grande Maison)</h2>
    <h6>Notre pack a été conçu pour des maisons avec une surface de X m2 et une seule porte d'entrée: Pack grande maison :
    1 centrale, 2 détecteurs de mouvement, 6 détecteurs d’ouverture, 1 détecteur d’inondation, 1 détecteur porte de garage, 4 télécommandes, 4 badges, 1 sirène extérieure.</h6>
    <%= link_to root_path, class: "offer-link" do %>
      <i class="fas fa-caret-right"></i> Commander dans notre e-boutique
    <% end %>
  </div>
</div>

<div class="mobile-offer pad-bot">
  <div class="flat-description-mobile">
    <h2>Découvrez notre Pack Maison (Grande Maison)</h2>
  </div>
  <div class="home-offer-2-mobile"></div>
  <div class="flat-description-mobile">
    <h6>Notre pack a été conçu pour des maisons avec une surface de X m2 et une seule porte d'entrée: Pack grande maison :
    1 centrale, 2 détecteurs de mouvement, 6 détecteurs d’ouverture, 1 détecteur d’inondation, 1 détecteur porte de garage, 4 télécommandes, 4 badges, 1 sirène extérieure.</h6>
  </div>
  <div class="call-to-action text-center">
    <%= link_to root_path, class: "buy-mobile" do %>
      COMMANDER
    <% end %>
  </div>
</div>


<!-- <div class="packs-offer">
  <#% @packs.each do |p| %>
    <p><%#= p.description %></p>
  <#% end %>
  <#% @products.each do |p| %>
    <p><%#= p.name %></p>
    <#% p.product_descriptions.each do |d| %>
      <%#= d.description %> <br>
    <#% end %>
  <#% end %>
</div> -->

<div class="question-offer text-center">
  <h2>Besoin de personnaliser votre pack ?</h2>
  <p>Nous mettons à votre disposition notre gamme complète d'accessoires (détecteurs, sirènes etc.) afin que vous puissiez confectionner le système d'alarme le plus adopté à votre besoin.</p>
  <%= link_to "VOIR NOS ACCESSOIRES", offer_path(anchor: "accessories"), class: "call-to-action-button"  %>
</div>

<div class="detecteur-offer" id="accessories">
  <div class="detecteur-offer-title">
    <h1>DETECTEURS / INTERIEUR</h1>
    <div id="line"></div>
  </div>
  <div class="detecteur-offer-banner">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-ouverture.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur d'ouverture</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
            • Utilisation pour porte et fenêtre <br>
            • Communication codée 36 bits en 868 Mhz <br>
            • Portée radio en champ libre : 150 mètres <br>
            • Anti sabotage et Auto-supervision <br>
            • Température de fonctionnement : -10°C à 50°C <br>
            • Alimentation : 1 pile CR123, autonomie 24 à 36 mois <br>
            • Dimension (H x L x P) : 69.5 x 21.2 x 19.5 mm (transmetteur), 34.5 x 10 x 13.2 mm (aimant)
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-mouvement.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur de mouvement</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
            • Utilisation à l’intérieur <br>
            • Communication codée 36 bits en 868 Mhz <br>
            • Portée radio en champ libre : 150 mètres <br>
            • Angle de détection 90°, longueur 12 mètres <br>
            • Anti sabotage et Auto-supervision <br>
            • Température de fonctionnement : 10°C à 60°C <br>
            • Alimentation : 1 pile CR123, autonomie 24 à 36 mois <br>
            • Dimension (H x L x P) : 108 x 58 x 40.5 mm <br>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-garage.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur de garage</h3>
          </div>
          <div class="product-card-content">
            <p>
              • Utilisation pour porte sectionnelle ou basculante <br>
              • Communication codée 36 bits en 868 Mhz <br>
              • Portée radio en champ libre : 200 mètres <br>
              • Transmetteur anti sabotage et Auto-supervision  <br>
              • Température de fonctionnement : -10°C à 50°C <br>
              • Alimentation : 1 pile CR123, autonomie env. 18 mois <br>
              • Dimension (H x L x P) : 80 x 32 x 25 mm (sabot au sol), 74 x 12 x 20 mm (aimant sur porte), 80 x 30 x 28 mm (transmetteur)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detecteur-offer-footer text-center">
    <%= link_to "Commander", root_path, class: "call-to-action-button-no-m" %>
  </div>
</div>

<!-- Detecteurs Exté -->

<div class="detecteur-offer padding-top-small">
  <div class="detecteur-offer-title">
    <h1>DETECTEURS / EXTERIEUR</h1>
    <div id="line"></div>
  </div>
  <div class="detecteur-offer-banner">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-balcon.jpg"), class: "product-image margin-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur de balcon</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
            • Double-faisceaux réglable de 2 à 5 mètres <br>
            • Base Optex FTN-R <br>
            • Communication codée 36 bits en 868 Mhz <br>
            • Portée radio en champ libre : 200 mètres <br>
            • Anti sabotage et Auto-supervision <br>
            • Température de fonctionnement : -20°C à 60°C <br>
            • Alimentation : 2 piles CR123, autonomie 24 à 36 mois <br>
            • Dimension (H x L x P) : 152 x 42 x 70 mm
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-barriere-white.jpg"), class: "product-image margin-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur de barrière</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
            • Double-faisceaux réglable de 2,5 à 12 mètres de chaque côté <br>
            • Nouvelle base Optex BXS-R <br>
            • Communication codée 36 bits en 868 Mhz <br>
            • Portée radio en champ libre : 200 mètres <br>
            • Anti sabotage et Auto-supervision. Option Antimasque <br>
            • Température de fonctionnement : -30°C à 60°C <br>
            • Alimentation : 1 pile CR123 et 1 pile 9V, autonomie 24 à 36 mois <br>
            • Dimension (H x L x P) : 200 x 92.8 x 98.7 mm
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-grand-angle.jpg"), class: "product-image margin-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur avec grand angle 90°</h3>
          </div>
          <div class="product-card-content">
            <p>
              • Double-plans infrarouge réglable de 2,5 à 12 mètres <br>
              • Nouvelle base Optex VXS-RAM. Option hyperfréquence <br>
              • Communication codée 36 bits en 868 Mhz <br>
              • Portée radio en champ libre : 200 mètres <br>
              • Anti sabotage, anti masquage et Auto-supervision <br>
              • Température de fonctionnement : -30°C à 60°C <br>
              • Alimentation : 1 pile CR123 et 1 pile 9V, autonomie 24 à 36 mois <br>
              • Dimension (H x L x P) : 200 x 91.6 x 70.3 mm
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detecteur-offer-footer text-center">
    <%= link_to "Commander", root_path, class: "call-to-action-button-no-m" %>
  </div>
</div>


<!-- Detecteurs Spécifiques -->

<div class="detecteur-offer padding-top-small">
  <div class="detecteur-offer-title">
    <h1>DETECTEURS / SPECIFIQUES</h1>
    <div id="line"></div>
  </div>
  <div class="detecteur-offer-banner">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-inondation.jpg"), class: "product-image margin-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur inondation</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
            • Détecte la présence d’eau <br>
            • Communication codée 36 bits en 868 Mhz <br>
            • Portée radio en champ libre : 150 mètres <br>
            • Anti sabotage et Auto-supervision <br>
            • Température de fonctionnement : -10°C à 50°C <br>
            • Alimentation : 2 piles AAA, autonomie env. 18 mois <br>
            • Dimension (H x L x P) : 77 x 34 x 29 mm (transmetteur)
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("detecteur-vibration.jpg"), class: "product-image margin-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur de vibrations</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
            • 4 niveaux de sensibilité <br>
            • Communication codée 36 bits en 868 Mhz <br>
            • Portée radio en champ libre : 200 mètres <br>
            • Anti sabotage et Auto-supervision <br>
            • Température de fonctionnement : -10°C à 50°C <br>
            • Alimentation : 1 pile CR2032, autonomie 28 à 24 mois <br>
            • Dimension (H x L x P) : 70 x 23 x 12 mm
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("transmetteur-universel.jpg"), class: "product-image margin-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Transmetteur universel</h3>
          </div>
          <div class="product-card-content">
            <p>
              • 1 entrée filaire NO ou NF <br>
              • Communication codée 36 bits en 868 Mhz <br>
              • Portée radio en champ libre : 200 mètres <br>
              • Anti sabotage et Auto-supervision <br>
              • Température de fonctionnement : -10°C à 50°C <br>
              • Alimentation : 1 pile CR123, autonomie 24 à 36 mois <br>
              • Dimension (H x L x P) : 80 x 30 x 28 mm
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detecteur-offer-footer text-center">
    <%= link_to "Commander", root_path, class: "call-to-action-button-no-m" %>
  </div>
</div>


<!-- Sirènes -->

<div class="detecteur-offer padding-top-small">
  <div class="detecteur-offer-title">
    <h1>SIRENES</h1>
    <div id="line"></div>
  </div>
  <div class="detecteur-offer-banner">
    <div class="col-xs-12 col-sm-6">
      <div class="product-card text-center">
        <%= image_tag ("sirene-interieur.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Sirène d'intérieur</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="product-card text-center">
        <%= image_tag ("11-sirene-exterieure.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Sirène d'extérieur</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="detecteur-offer-footer text-center">
    <%= link_to "Commander", root_path, class: "call-to-action-button-no-m" %>
  </div>
</div>

<!-- COMMANDES -->

<div class="detecteur-offer padding-top-small pad-bot">
  <div class="detecteur-offer-title">
    <h1>COMMANDES</h1>
    <div id="line"></div>
  </div>
  <div class="detecteur-offer-banner">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("clavier.png"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Clavier</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("telecommande.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Télécommande</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("badge.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Badge</h3>
          </div>
          <div class="product-card-content">
            <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detecteur-offer-footer text-center">
    <%= link_to "Commander", root_path, class: "call-to-action-button-no-m" %>
  </div>
</div>

