<div class="offer-banner text-center">
  <h3>Des packs standards afin de faciliter votre choix.</h3>
  <p>Nous avons pré-conçus un Pack Appartement (surface entre 30-100m2) et un Pack Maison (maison sur 2 étages avec surface entre 100 et 200m2) pour mieux répondre à vos besoins. Une large gamme d'accessoires vous sont mis à votre disposition pour personnaliser votre système de sécurité en fonction de vos besoins.</p>
  <%= link_to "VOIR NOS PACKS", offer_path(anchor: "apartement"), class: "call-to-action-button"  %>
</div>

<div class="flat-offer" id="apartement">
  <div class="flat-description">
    <h2>Découvrez notre Pack Appartement</h2>
    <h6>Notre pack a été conçu pour des appartements avec une surface de X m2 et une seule porte d'entrée: 1 centrale, 2 détecteurs, 1 sirène, 1 guide d'installation.</h6>
    <%= link_to root_path, class: "offer-link" do %>
      <i class="fas fa-caret-right"></i> Commander dans notre e-boutique
    <% end %>
  </div>
</div>

<div class="home-offer" id="home">
  <div class="home-description">
    <h2>Découvrez notre Pack Maison</h2>
    <h6>Notre pack a été conçu pour des maisons avec une surface de X m2 et une seule porte d'entrée: 1 centrale, 4 détecteurs, 1 sirène, 1 guide d'installation.</h6>
    <%= link_to root_path, class: "offer-link" do %>
      <i class="fas fa-caret-right"></i> Commander dans notre e-boutique
    <% end %>
  </div>
</div>

<!-- <div class="packs-offer">
  <#% @packs.each do |p| %>
    <p><%#= p.description %></p>
  <#% end %>
  <#% @products.each do |p| %>
    <p><%#= p.name %></p>
    <#% p.product_descriptions.each do |d| %>
      <%#= d.description %> <br>
    <#% end %>
  <#% end %>
</div> -->

<div class="question-offer text-center">
  <h2>Besoin de personnaliser votre pack ?</h2>
  <p>Nous mettons à votre disposition notre gamme complète d'accessoires (détecteurs, sirènes etc.) afin que vous puissiez confectionner le système d'alarme le plus adopté à votre besoin.</p>
  <%= link_to "VOIR NOS ACCESSOIRES", offer_path(anchor: "accessories"), class: "call-to-action-button"  %>
</div>

<div class="detecteur-offer" id="accessories">
  <div class="detecteur-offer-title">
    <h1>NOS DETECTEURS</h1>
    <div id="line"></div>
  </div>
  <div class="detecteur-offer-banner">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("122.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur de mouvement</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("131.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur d'ouverture</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("134.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur d'ouverture et de choc</h3>
          </div>
          <div class="product-card-content">
            <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detecteur-offer-footer text-center">
    <%= link_to "Commander", root_path, class: "call-to-action-button-no-m" %>
  </div>
</div>

<!-- Sirènes -->

<div class="detecteur-offer padding-top-medium padding-bottom-medium" id="accessories">
  <div class="detecteur-offer-title">
    <h1>NOS SIRENES</h1>
    <div id="line"></div>
  </div>
  <div class="detecteur-offer-banner">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("122.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur de mouvement</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("131.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur d'ouverture</h3>
          </div>
        </div>
        <div class="product-card-content">
          <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="product-card text-center">
        <%= image_tag ("134.jpg"), class: "product-image" %>
        <div class="product-card-description">
          <div class="product-card-title">
            <h3>Détecteur d'ouverture et de choc</h3>
          </div>
          <div class="product-card-content">
            <p>
              Utilisation pour porte et fenêtre <br>
              Communication sans fil fréquence 869 Mhz <br>
              Portée radio en champ libre : 300 mètres <br>
              1 entrée filaire <br>
              Bouton Panic <br>
              Température de fonctionnement : -10°C à 50°C <br>
              Alimentation : 1 pile CR123 <br>
              Autonomie 24 à 36 mois <br>
              Dimension (H x L x P) : 99 x 29 x 20 mm (transmetteur), 45 x 12 x 7 mm (aimant), 37 x 37 x 5 mm (capteur de choc) <br>
              Anti sabotage et supervision par la centrale
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detecteur-offer-footer text-center">
    <%= link_to "Commander", root_path, class: "call-to-action-button-no-m" %>
  </div>
</div>


